
@font-face {
  font-family: 'PriscillaScript-Regular';
  src: url('PriscillaScript-Regular.eot@') format('embedded-opentype'),  url('PriscillaScript-Regular.otf')  format('opentype'),
	     url('PriscillaScript-Regular.woff') format('woff'), url('PriscillaScript-Regular.ttf')  format('truetype'), url('PriscillaScript-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
