
@font-face {
  font-family: 'StrikeOne';
  src: url('StrikeOne.eot@') format('embedded-opentype'),  url('StrikeOne.woff') format('woff'), url('StrikeOne.ttf')  format('truetype'), url('StrikeOne.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
